body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS';
  background: #df9fc1;
}

.box-logout p {
  margin-left: 20px;
  color: #772953;
  cursor: pointer;
  display: inline-block;
}

/* .box-logout p:hover {
  font-weight: bold;
} */

