.div-add {
    padding: 10px;
    transition: 0.35s;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.box-add {
    display: flex;
    margin: 10px auto;
    width: 310px;
}

.box-add input {
    text-align: center;
    background: #ffffff;
    transition: 0.35s;
    border: 0;
    display: block;
    border: 2px solid #b877a5;
    padding: 14px 10px;
    font-family: 'Trebuchet MS';
    display: flex;
    outline: none;
    margin-right: 5px;
}

.box-add input:focus {
    border-color: #772953;
}

#input-id {
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    width: 30px;
}

.box-add button {
    background-color: #ffffff;
    display: flex;
    outline: none;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    width: 54px;
    text-align: center;
    display: block;
    text-align: center;
    border: 2px solid #772953;
    outline: none;
    font-family: 'Trebuchet MS';
    color: #000000;
    transition: 0.35s;
    cursor: pointer;
    font-family: 'Trebuchet MS';
}

.box-add button:hover {
    background: #772953;
    color: #ffffff;
}

.box-add button:focus {
    background: #772953;
    color: #ffffff;
}

.div-list {
    width: 270px;
    padding: 10px;
    transition: 0.35s;
    border-radius: 10px;
    background: #772953;
    box-shadow: 0 3px 10px #76425e;
    display: table;
    margin: 10px auto;
}

.div-content {
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.div-list:hover {
    background: #b877a5;
    box-shadow: 0 14px 28px #f3b4e0;
}

.li-show {
    list-style-type: none;
    color: #ffffff;
}

.div-options {
    display: inline-block;
    margin-left: 23px;
}

.div-title {
    display: inline-block;
    width: 200px;
}

.button-delete {
    outline: none;
    color: #ffffff;
    background: transparent;
    border: none;
}

.button-delete:hover {
    cursor: pointer;
    color: #ff0000;
}

.checkbox-update {
    cursor: pointer;
}

.ul-list {
    margin: 0px;
    padding: 0px;
}