.box {
  display: block;
  width: 300px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.box-login {
  box-shadow: 0 3px 10px #868686;
  transition: all 0.6s;
}

/* .box-login:hover {
  box-shadow: 0 14px 28px #663951;
} */

.box input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #772953;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #000000;
  border-radius: 24px;
  transition: 0.35s;
  font-family: 'Trebuchet MS';
}
.box h1 {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
}

/* .box input:focus {
  width: 280px;
  border-color: #df9fc1;
} */

.box button {
  border: 0;
  background: #772953;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #772953;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.35s;
  cursor: pointer;
  font-family: 'Trebuchet MS';
}

/* .box button:hover {
  background: #df9fc1;
  color: #ffffff;
} */

/* .box button:focus {
  background: #df9fc1;
  color: #ffffff;
} */